/* line 4, ../../../app/stylesheets/main.scss */
#header_wrapper {
  width: 950px;
  background-color: #57B;
}
/* line 8, ../../../app/stylesheets/main.scss */
#header_wrapper h1, #header_wrapper h3, #header_wrapper a {
  color: #EEE;
}

/* line 35, ../../../app/stylesheets/main.scss */
#admin-property-names {
  width: 390px;
}
/* line 30, ../../../app/stylesheets/main.scss */
#admin-property-names p {
  width: 390px;
}

/* line 41, ../../../app/stylesheets/main.scss */
#admin_properties_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 44, ../../../app/stylesheets/main.scss */
#admin_properties_grid_wrapper {
  width: 710px;
}

/* line 48, ../../../app/stylesheets/main.scss */
#admin_new_property_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_property_button {
  overflow-x: hidden;
}

/* line 53, ../../../app/stylesheets/main.scss */
#admin_product_types_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 56, ../../../app/stylesheets/main.scss */
#admin_product_types_grid_wrapper {
  width: 710px;
}

/* line 60, ../../../app/stylesheets/main.scss */
#admin_new_product_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_product_type_button {
  overflow-x: hidden;
}

/* line 65, ../../../app/stylesheets/main.scss */
#admin-product_type-names {
  width: 390px;
}
/* line 30, ../../../app/stylesheets/main.scss */
#admin-product_type-names p {
  width: 390px;
}

/* line 71, ../../../app/stylesheets/main.scss */
#admin_prototypes_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 74, ../../../app/stylesheets/main.scss */
#admin_prototypes_grid_wrapper {
  width: 710px;
}

/* line 77, ../../../app/stylesheets/main.scss */
#admin_new_prototype_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_prototype_type_button {
  overflow-x: hidden;
}

/* line 80, ../../../app/stylesheets/main.scss */
#admin-prototype-names {
  width: 390px;
}
/* line 30, ../../../app/stylesheets/main.scss */
#admin-prototype-names p {
  width: 390px;
}

/* line 84, ../../../app/stylesheets/main.scss */
.property_form {
  display: inline;
  text-align: left;
}

/* line 88, ../../../app/stylesheets/main.scss */
.selectlist-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 94, ../../../app/stylesheets/main.scss */
.selectlist-item {
  background: white url(../images/cross-circle.png) no-repeat right center;
  border-left: solid 1px #eee;
  border-top: solid 1px #eee;
  border-right: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
  cursor: pointer;
  padding: 0.2em 0.3em;
  margin: 1px 0;
}

/* line 106, ../../../app/stylesheets/main.scss */
#admin-product-names {
  margin: 0  0  0.5em;
  padding: 0.3em;
}

/* line 113, ../../../app/stylesheets/main.scss */
#header_bar {
  width: 950px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  background-color: #57B;
  margin-right: 0;
}

/* line 120, ../../../app/stylesheets/main.scss */
#search_bar {
  width: 710px;
  display: inline;
  float: left;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  text-align: left;
}

/* line 126, ../../../app/stylesheets/main.scss */
#cart_items_button {
  display: inline;
  float: right;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
}

/* line 130, ../../../app/stylesheets/main.scss */
#wish_items_button {
  display: inline;
  float: right;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
}
