/* line 4, ../../../app/stylesheets/main.scss */
#header_wrapper {
  width: 950px;
  background-color: #57B;
}
/* line 8, ../../../app/stylesheets/main.scss */
#header_wrapper h1, #header_wrapper h3, #header_wrapper a {
  color: #EEE;
}

/* line 34, ../../../app/stylesheets/main.scss */
#admin-property-names {
  width: 390px;
}
/* line 29, ../../../app/stylesheets/main.scss */
#admin-property-names p {
  width: 390px;
}

/* line 40, ../../../app/stylesheets/main.scss */
#admin_properties_page_wrapper {
  width: 950px;
}

/* line 43, ../../../app/stylesheets/main.scss */
#admin_properties_grid_wrapper {
  width: 710px;
}

/* line 47, ../../../app/stylesheets/main.scss */
#admin_new_property_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_property_button {
  overflow-x: hidden;
}

/* line 52, ../../../app/stylesheets/main.scss */
#admin_product_types_page_wrapper {
  width: 950px;
}

/* line 55, ../../../app/stylesheets/main.scss */
#admin_product_types_grid_wrapper {
  width: 710px;
}

/* line 59, ../../../app/stylesheets/main.scss */
#admin_new_product_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_product_type_button {
  overflow-x: hidden;
}

/* line 64, ../../../app/stylesheets/main.scss */
#admin-product_type-names {
  width: 390px;
}
/* line 29, ../../../app/stylesheets/main.scss */
#admin-product_type-names p {
  width: 390px;
}

/* line 70, ../../../app/stylesheets/main.scss */
#admin_prototypes_page_wrapper {
  width: 950px;
}

/* line 73, ../../../app/stylesheets/main.scss */
#admin_prototypes_grid_wrapper {
  width: 710px;
}

/* line 76, ../../../app/stylesheets/main.scss */
#admin_new_prototype_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_prototype_type_button {
  overflow-x: hidden;
}

/* line 79, ../../../app/stylesheets/main.scss */
#admin-prototype-names {
  width: 390px;
}
/* line 29, ../../../app/stylesheets/main.scss */
#admin-prototype-names p {
  width: 390px;
}

/* line 83, ../../../app/stylesheets/main.scss */
.property_form {
  display: inline;
  text-align: left;
}

/* line 87, ../../../app/stylesheets/main.scss */
.selectlist-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 93, ../../../app/stylesheets/main.scss */
.selectlist-item {
  background: white url(../images/cross-circle.png) no-repeat right center;
  border-left: solid 1px #eee;
  border-top: solid 1px #eee;
  border-right: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
  cursor: pointer;
  padding: 0.2em 0.3em;
  margin: 1px 0;
}
