<h1>Listing admin_order_shipping_methods</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_order_shipping_methods.each do |admin_order_shipping_method| %>
  <tr>
    <td><%= link_to 'Show', admin_order_shipping_method %></td>
    <td><%= link_to 'Edit', edit_admin_order_shipping_method_path(admin_order_shipping_method) %></td>
    <td><%= link_to 'Destroy', admin_order_shipping_method, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shipping method', new_admin_order_shipping_method_path %>
