@import "compass";
@import "blueprint";

#header_wrapper {
  @include span(24);
  //background-image: url(../../images/logos/hadean_wide.png);
  background-color: #57B;
  h1, h3, a {
    color: #EEE;
  }
  
}

@mixin admin-page-wrapper($width: 24) {
  @include span($width);
}

@mixin admin-grid-wrapper($width: 18) {
  @include span($width);
}

@mixin admin-new-button($width: 6) {
  @include column($width);
  @include last;
}

@mixin admin-form-wrapper($width: 10) {
  @include span($width);
  p {
    @include span(10);
    }
}

#admin-property-names {
  @include admin-form-wrapper;
  }


// properties admin page
#admin_properties_page_wrapper {
  @include admin-page-wrapper;
}
#admin_properties_grid_wrapper {
  @include admin-grid-wrapper;
}

#admin_new_property_button {
  @include admin-new-button;
}

// product_types admin page
#admin_product_types_page_wrapper {
  @include admin-page-wrapper;
}
#admin_product_types_grid_wrapper {
  @include admin-grid-wrapper;
}

#admin_new_product_type_button {
  @include admin-new-button;
}


#admin-product_type-names {
  @include admin-form-wrapper;
  }
  
// admin-prototype-names admin page

#admin_prototypes_page_wrapper {
  @include admin-page-wrapper;
}
#admin_prototypes_grid_wrapper {
  @include admin-grid-wrapper;
}
#admin_new_prototype_type_button {
  @include admin-new-button;
}
#admin-prototype-names {
  @include admin-form-wrapper;
}
  
.property_form {
  display: inline;
  text-align: left;
}
.selectlist-list {
  list-style: none;
  margin:     0;
  padding:    0;
}

.selectlist-item {
  // Icon from http://pinvoke.com/ 
  background:     #fff url(../images/cross-circle.png) no-repeat right center;
  border-left:    solid 1px #eee;
  border-top:     solid 1px #eee;
  border-right:   solid 2px #ccc;
  border-bottom:  solid 2px #ccc;
  cursor:         pointer;
  padding:        0.2em 0.3em;
  margin:         1px 0;
}
  