<h1>Welcome</h1>
<div id='content_wrapper'>
  <div id='featured_item' class='span-18'>
    Place an item of a featured item  ... Pretty big
  </div>
  <div id='right_side_panel first' class='span-6 last'>
    Side panel area... 
  </div>
</div>