
<% @product.prototype.properties.each do |property| %>
    <div class="property_form left span-9 last">
      <% checked = parent.id && parent.properties.include?(property)%>
      <%= check_box_tag "prototype[property_ids][]", property.id, checked %>
      <%= property.display_name %>
    </div>
<% end %>