<h1>Orders</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shopping_orders.each do |shopping_order| %>
  <tr>
    <td><%= link_to 'Show', shopping_order %></td>
    <td><%= link_to 'Edit', edit_shopping_order_path(shopping_order) %></td>
    <td><%= link_to 'Destroy', shopping_order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_shopping_order_path %>
