<li class="property_form">
  <%= @prototype_property.property.identifing_name %>,
  <%= @prototype_property.property.display_name %>
  <input type="hidden" name="prototype[prototype_properties_attributes][0][property_id]"  value="<%= @prototype_property.property_id %>"/>
</li>