<h2>Edit Product</h2>

<%= form_for @product, :url  => admin_merchandise_product_path(@product), 
                        :html => {:class => 'prepend-6'}  do |form| %>
  <%= render :partial => '/admin/merchandise/products/form', :locals => {:form => form}%>

  <div class="button generic_submit_button">
    <%= submit_tag "Update", 
                    :class  => "button", 
                    :id     => "create_product_button" %>
  </div>
<% end %>